:root {
    --lyrics-analysis-ink-color:#282D3C;
    --lyrics-analysis-score-color:#798EA4;
    --lyrics-analysis-score-color:#6B5876;
    --lyrics-analysis-secondary-color:#EDF1FE;
    --lyrics-analysis-percentage-color:#19558F;
    --lyrics-analysis-category-color:#0F4C81;
    --lyrics-analysis-gap-color:#f9fafe;
    --lyrics-analysis-link-color:#e8a798;
}

body{
    padding:0;
    margin:0;
    color: var(--lyrics-analysis-ink-color);
}


.container{
    padding: 0;
    margin: 0;
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    padding:20px;
    font-weight: bold;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    margin-left:24px;
    color:var(--lyrics-analysis-link-color);
    text-decoration: none;
}

.logo{
    width:240px;
}

.data{
    display: flex;
    flex-direction:column;
}

.keen-slider{
    height:640px;
}

.era{
    display: flex;
    flex-direction: row;
    background: var(--lyrics-analysis-secondary-color);
    width: 100%;
    height: 120px;
    align-content: center;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.eralabel{
    margin-left:40px;
    font-size: 50px;
    font-weight: bold;
    color: var(--lyrics-analysis-score-color);
}

.big5label{
    color: var(--lyrics-analysis-category-color);
    font-weight: bold;
    margin-left: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    margin-bottom: 30px;;
}

.dot {
    border: none;
    width: 30px;
    height: 30px;
    background: #eeeeee;
    border-radius: 50%;
    margin: 0 30px;
    padding: 5px;
    cursor: pointer;
}

.active{
    background:var(--lyrics-analysis-link-color);
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .container{
        font-size: 24px;
    }    
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .container{
        font-size: 26px;
    }  

}